{% extends "layout.html" %}
{% block head %}
  <!-- Link til din CSS-fil (for eksempel register_section.css) -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register_section.css') }}">
{% endblock head %}

{% block content %}

<!-- Table Section -->
<section class="table_main py-4">
  <div class="container-fluid table-main-container">
    <!-- New Entry Button plassert absolutt i topp høyre hjørne -->
    <a href="{{ url_for('carbon_app.carbon_app_home') }}" class="btn btn-primary btn-lg new-entry-btn">
      New Entry
    </a>
    <div class="row justify-content-center">
      <div class="col-11">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Kilometres</th>
                <th scope="col">Transport</th>
                <th scope="col">Fuel</th>
                <th scope="col">Co2</th>
                <th scope="col">Ch4</th>
                <th scope="col">Total</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}
                <tr>
                  <th scope="row">{{ current_user.username }}</th>
                  <td>{{ entry.date.strftime("%m-%d-%Y") }}</td>
                  <td>{{ entry.kms }}</td>
                  <td>{{ entry.transport }}</td>
                  <td>{{ entry.fuel }}</td>
                  <td>{{ entry.co2 }}</td>
                  <td>{{ entry.ch4 }}</td>
                  <td>{{ entry.total }}</td>
                  <td>
                    <a href="{{ url_for('carbon_app.delete_emission', entry_id=entry.id) }}" class="btn btn-outline-danger btn-sm">
                      Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
