/* Seksjon styling */
.about-us {
    padding: 50px 20px;
    text-align: center;
}

.about-us h1 {
    font-size: 30px;
    margin-bottom: 22px;
    color: #4d4d4d;
}

.about-us p {
    padding-bottom: 15px;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
}


.container .profile-card:nth-child(n+5) {
    grid-column: span 1;
}

.container::after {
    content: "";
    grid-column: 2 / span 1;
}


.profile-card {
    background-color: #AFCB98 ; /* Alternatively #C8D9B8 (same as footer) */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} 

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
    color: #f5f5f5;
}

ul li {
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    background-color: burlywood;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.social-links a:hover {
    background-color: #5A6B50;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Divides the profile cards over 2 layers for tablets*/
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* Same as above but For phones */
    }

}
