/* HEADER-SECTION */
.section_header_carbon_app {
    background-color: #E6E9D3;
    padding: 10px 0;
  }
  .header_container {
    padding: 0 20px;
  }
  .header_carbon_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header_text {
    flex: 1 1 500px;
    margin-bottom: 20px;
    text-align: left;
  }
  .header_text h1 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #2a4359;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header_buttons {
    display: flex;
    gap: 30px;
  }
  .btn_wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header_image {
    flex: 0 1 300px;
    text-align: center;
  }
  .header_image img {
    max-width: 200px;
    height: auto;
    display: inline-block;
  }
  
  /* NEW ENTRY-SECTION */
  .section_carbon_app_new_entry_main {
    padding: 40px 0;
    background-color: #f0f0f0;
  }
  .box {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    max-width: 100%;
  }
  .box:hover {
    transform: translateY(-5px);
  }
  .box .icon {
    margin-bottom: 20px;
    color: #007bff;
  }
  .box h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .box p {
    margin-bottom: 20px;
  }
  .box a.btn {
    margin-top: 10px;
    display: inline-block;
  }
   /* Entry button in Your Data （made by yuma）*/
   .new-entry-btn {
    width: auto;
    display: inline-block;
  }
  
.submit-margin {
    margin-top: 20px; 
    display: inline-block;
  }
  

  .form-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto; 
  }
  
  @media (max-width: 768px) {

    .section_header_carbon_app {
      max-width: 400px;
      width: 100%;
    }

    .header_text {
      width: 100%;
    }

    .header_text h1 {
      font-size: 32px;
      text-align: center;
    }

    .btn_wrapper {
      size: 75%;
      font-size: 22px;
      display: table-column;
      width: 200px;
    }

    .header_buttons {
      display: grid;
      
      text-align: center;
      justify-content: center;
    }

    .box {
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }

    


  }