{% extends "layout.html" %}
{% block content %}


<!-- Header -->
<section class="section_header_home">
  <div class="flex_container_welcome">
    <div class="container_text">

      <h1>Welcome to MyEcoFriend</h1>
      <p>We developed this app to help you reduce your carbon footprint by providing you with an easy way to calculate
        your carbon emissions. Our app is user-friendly, and it gives you an overview of your carbon footprint based on
        the data you input. By using our app, you can gain a better understanding of what affects your carbon footprint
        and what you can do to reduce it! We hope that our app can help you make the right choices to reduce your carbon
        footprint and contribute to combating climate change. Thank you for using our app!
        <!-- I copied this from some other group so it needs to be changed-->

      </p>
      <br>
      <div class="home-container-buttons">
        {% if current_user.is_authenticated %}
          <div class="btn">
            <a href="{{ url_for('carbon_app.carbon_app_home') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">
              Use the app!
            </a>
          </div>
          <div class="btn">
            <a href="{{ url_for('carbon_app.quick_log') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">
              Quick log
            </a>
          </div>
        {% else %}
          <div class="btn">
            <a href="{{ url_for('users.register') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">
              Register
            </a>
          </div>
          <div class="btn">
            <a href="{{ url_for('users.login') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">
              Log in
            </a>
          </div>
        {% endif %}
      </div>
      
      
    </div>

    <div class="container_image">
      <img src="{{url_for('static', filename='Pictures/homepage_picture_man_text.png')}}" alt="">
    </div>



  </div>

  <div class="flex_container_mission">


    <div class="container_text">
      <h1>Our purpose</h1>
      <p> "Our purpose is to make regular people aware of environmental impacts and contribute to the achievement of
        environmental agreements." </p>
    </div>

  </div>


  </div>
  <div class="flex_container_methodology">
    <div class="container_text">

      <h1>Our Methodology</h1>
      <p>
        Are you curious about our methodology?
        Click <a href="{{ url_for('methodology.methodology_home') }}" style="color: green; text-decoration: underline;" onmouseover="this.style.color='#0a5f0a'" onmouseout="this.style.color='green'">here</a> to learn more.
      </p>

      
    </div>
  </div>
</section>


{% endblock content %}